html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include media("<=phone") {
    font-size: 58%;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-content;
  -webkit-font-smoothing: antialiased;
  color: $base-text-color-black;
  background: $base-background-color;
  font-size: $font-size-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// adaptive images
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

button {
  background-color: transparent;
}

ul {
  margin: 0;
}

a {
  all: unset;
  cursor: pointer;
}
